<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved. Please try again.</h3>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url, :placeholder => 'Please include the whole thing', :value => @query_url %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => 'Use whatever you see fit', :value => @query_title %>
  </div>

  <div class="field">
    <%= f.label :category, 'Category' %>
    <%= collection_select(:link, :category_id, Category.all, :id, :title) %>
  </div>

  <div class="field">
    <%= f.label :body, 'Body <span>*HTML allowed</span>'.html_safe %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
