<% @links.each do |link| %>
  <article class="link" data-url="<%= link.url %>">
    <div class="vote-buttons">
      <!-- <a href="/links/<%= link.id %>/vote/up">
        <%= image_tag('plus-icon.png', :width => 24) %>
      </a> -->
    </div>

    <h2><%= link_to link.title, link.url %></h2>
    
    <% unless link.body.empty? %>
      <p><%= raw(link.body) %></p>
    <% end %>
    
    <div class="info">
      <div class="info-data">
        <a href="/links/<%= link.id %>/vote/up" class="vote-button">vote</a> &nbsp;/&nbsp;
      </div>

      <div class="info-data">
        <%= time_ago_in_words(link.created_at) %> ago &nbsp;/&nbsp;
      </div>

      <div class="info-data">
        <%= url_format(link.url) %> &nbsp;/&nbsp;
      </div>

      <div class="info-data">
        <span class="vote-count"><%= link.vote_count %></span> votes &nbsp;/&nbsp;
      </div>

      <div class="info-data">
        <%= link_to "0 comments", link_path(link, :anchor => "disqus_thread") %>
      </div>
    </div>
  </article>
<% end %>