<article class="link" data-url="<%= link.url %>">
  <div class="vote-buttons">
    <a href="/links/<%= link.id %>/vote/up" class="arrow-up"></a>
    <div class="vote-count">
      <%= link.vote_count %>
    </div>
  </div>

  <h2><%= link_to link.title, link.url, "data-url" => link.url, "data-link-id" => link.id, :class => "track-count" %> <span> &mdash; <%= link_to link.category.title, "/category/#{link.category.title.downcase}" %></span></h2>
  
  <% unless link.body.empty? %>
    <p><%= link.body.html_safe %></p>
  <% end %>

  <% if embed_media(link.url) %>
    <div class="media">
      <% if params[:action] == 'show' && params[:controller] == 'links' %>
        <%= embed_media(link.url) %>
      <% else %>
        <a href="#" class="show-media">Show media</a>
        <div class="media-content"><%= embed_media(link.url) %></div>
      <% end %>
    </div>
  <% end %>
  
  <div class="info">
    <div class="info-data">
      <%= time_ago_in_words(link.created_at) %> ago &nbsp;/&nbsp;
    </div>

    <div class="info-data">
      <%= url_format(link.url) %> &nbsp;/&nbsp;
    </div>

    <div class="info-data">
      <%= link_to pluralize(link.comments.count, 'comment'), link_path(link, :anchor => 'comments') %> &nbsp;/&nbsp;
    </div>

    <div class="info-data">
      by <%= link_to link.user.name.downcase, user_path(link.user) %>
    </div>

    <% if current_user == link.user %>
      <div class="info-data">
        &nbsp;/&nbsp;<%= link_to 'delete', link_path(link), :confirm => 'Are you sure?', :method => :delete %> <!-- &nbsp;/&nbsp;<%= link_to 'edit', edit_link_path(link) %> -->
      </div>   
    <% end %>
  </div>

  <% if params[:action] == 'show' && params[:controller] == 'links' %>
    <%= render 'comments/comments' %>
    <%= render 'comments/form' %>
  <% end %>
</article>