<% @links.each do |link| %>
  <article class="link" data-url="<%= link.url %>">
    <h6><%= link.created_at %></h6>
    <h2><%= link_to link.title, link %></h2>
    <p><%= link.body %></p>
    
    <div class="info">
      <p><%= link.url %></p>
    </div>
  </article>
<% end %>

<%= link_to 'New Link', new_link_path %>
